#money {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.formulario-contenedor {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  gap: 30px;
}

.contenedor-principal {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.gastos, .ingresos {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.form-edicion {
  margin-top: 10px;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 8px;
}
