<div class="container">
  <!-- Saldo disponible -->
  <h3 id="money">Saldo: ${{ saldo }}</h3>

  <!-- Agregar Monto -->
  <h2>Agregar Saldo</h2>
  <div>
    <label>Agregar Monto:</label>
    <input type="number" #montoInput>
    <button (click)="agregarMonto(montoInput.valueAsNumber)">Agregar</button>
  </div>

  <hr>


  <!-- Formulario para registrar gastos -->
  <h2>Registrar Gasto</h2>
  <div>
    <label>Descripción del Gasto:</label>
    <input type="text" [(ngModel)]="descripcion">

    <label>Monto del Gasto:</label>
    <input type="number" [(ngModel)]="gasto">

    <label>Método de Pago:</label>
    <select [(ngModel)]="metodoPago">
      <option value="efectivo">Efectivo</option>
      <option value="debito">Débito</option>
      <option value="cuota">Cuota</option>
    </select>

    <label>Fecha del Gasto:</label>
    <input type="date" [(ngModel)]="fechaGasto">

    <button (click)="agregarGasto()">Registrar Gasto</button>
  </div>

  <hr>

  <!-- Historial de Gastos -->
  <h1>HISTORIAL DE GASTOS</h1>
  <ul *ngIf="historialGastos.length > 0; else sinGastos">
    <li *ngFor="let gasto of historialGastos; let i = index">
      <strong>{{ gasto.name }}</strong> - ${{ gasto.amount }} 
      ({{ gasto.method_of_payment }}) - {{ gasto.date }}

      <button (click)="editarGasto(i, gasto.id)">✏️ Editar</button>
      <button (click)="eliminarGasto(i, gasto.id)">❌ Eliminar</button>
    </li>
  </ul>

  <ng-template #sinGastos>
    <p>No hay gastos registrados aún.</p>
  </ng-template>
</div>
